.App {
  color:white;
}

.main-header-section{
  width:100%;
  max-width:1250px;
  margin:0px auto;
}
.main-logo>p{
  color:rgb(180, 47, 47);
  font-size:35px;
  font-weight:bolder;
  letter-spacing:1px;
}
.main-logo>p>span{
  color:white;
}