.App {
  color:white;
}
.navbar-section{
  margin:0px 0px 690px 0px;
}
.nav-link-main{
  display:flex;
  width:100%;
  max-width:1100px;
  margin:0px auto;
  justify-content: space-between;
}
.logo-nav>span{
  color:white;
}
.ul-section{
  display:flex;
  padding:5px 0px 0px 0px;
  width:500px;
  justify-content: space-between;
}
.main-logo{
  padding:10px 0px 0px 0px;
}
.main-logo .logo-nav{
  text-decoration: none;
  color:rgb(180, 47, 47);
  font-size:35px;
  font-weight:bolder;
  letter-spacing:1px;
}
.main-multiple-sec-container{
  list-style: none;
}
.ul-section .nav-link{
  text-decoration:none;
  color:white;
  font-size:17px;
  letter-spacing:1px;

}
.main-logo>p>span{
  color:white;
}

.home-img1{
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100%;
}

/*----------party-section---------*/
.party-section-home{
  width:100%;
  max-width:1150px;
  justify-content: space-between;
  display:flex;
  margin:0px auto;
}
.party-section{
  width:360px;
   margin:10px 0px;
   transition:margin 0.5s ease;
}
.party-section:hover{
  margin:0px 0px;
}
.party-image{
  width:360px;
  height:250px;
  border-radius:1px;
}
.party-sec-item-2{
  color:white;
  text-align:left;
  padding:10px 10px;
}
.party-heading{
  font-size:25px;
  margin:0px;
  letter-spacing:1.5px;

}
.party-paragraph{
  color:grey;
  font-size:15px;
  letter-spacing:1px;
  line-height: 1.8rem;

}